<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.lalaev.vagif.mrmTeplokomInJava">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:usesCleartextTraffic="true"
        android:name=".utils.ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ico_teplocom"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ico_teplocom"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.WorkerAcceptRequestActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.AddAdditionalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />



</manifest>